body {
    font-family: 'Fira Sans', 'Helvetica Neue', Helvetica;
    // font-size: 10px;
}

ion-content {
    display: block;
    margin-top: 87px;
}

#check-in {
    margin: 0 auto;

    // &, &::before, &::after {
    //    font-size: 48px;
    //    line-height: 48px;
    // }
}
