<section>
  <div class="bar bar-header bar-positive">
    <!--
    <button class="button button-icon icon ion-chevron-left"></button>
    -->
    <h1 class="title">Checkmate</h1>
    <button class="button button-icon icon ion-map" title="Explore"></button>
    {{!-- content-for 'header' --}}
  </div>
  {{#if currentUser}}
    <div class="bar bar-subheader">
      <h2 class="title">At Mozilla NYC (51 minutes ago)</h2>
    </div>
  {{/if}}

  <ion-content overflow-scroll="false">
    {{outlet}}
  </ion-content>

  {{#if currentUser}}
    <div class="bar bar-footer">
      <button class="button button-large button-outline button-icon
                     ion-location button-energized" id="check-in"></button>
    </div>
  {{/if}}
</section>
